body{
    /* background-color: grey; */
    margin: 0;
    box-sizing: border-box;
}

body,html{
    scroll-behavior: smooth;
}

.clear-fix{
    clear: both;
}

   /* START HOME */

.home{
    background-image: url('../Images/slider-02.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.home-container{
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
}

.nav{
    /* background-color: red; */
    height: 8%;
    left: 0;
    right: 0;
    position: relative;
}

.nav ul{
    padding-top: 15px;
    list-style-type: none;
}
.Fokir-nav{
    float: left;
    margin-left: 65px;
}

.Fokir-nav a{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #FF305B;
    font-weight: 800;
}

.Fokir-nav:hover a{
    text-decoration: none;
}

.right-nav{
    float: right;
    margin-right: 100px;
    padding-top: 8px;
}

.right-nav li{
    float: left;
}

.right-nav a{
    color: rgb(228, 219, 219);
    margin: 12px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-weight:10;
}

.right-nav-hover:hover a{
    color: #FF305B;
}

.right-nav .home-color a{
    color: #FF305B;
    font-weight: 100;
}

.home-content{
    margin-top: 190px;
    color: white;
    text-align: center;
    font-family: 'Source Sans 3', sans-serif;
}

.home-content h3{
    font-size: 24px;
    font-weight: 600;
}

.home-content h1{
    font-size: 70px;
    font-weight: 700;
    color: #FF305B;
    line-height: 0px;
}

.home-content h4{
    font-size: 26px;
    font-weight: 300;
    color: rgb(253, 253, 253);
    font-family: 'Source Sans 3', sans-serif;
    padding-right: 20px;
    position: relative;
}

@keyframes typing{
  0.0000%, 27.3488% { content: ""; }
  1.1395%, 26.2093% { content: "D"; }
  2.2791%, 25.0698% { content: "De"; }
  3.4186%, 23.9302% { content: "Dev"; }
  4.5581%, 22.7907% { content: "Deve"; }
  5.6977%, 21.6512% { content: "Devel"; }
  6.8372%, 20.5116% { content: "Develo"; }
  7.9767%, 19.3721% { content: "Develop"; }
  9.1163%, 18.2326% { content: "Develope"; }
  10.2558%, 17.0930% { content: "Developer "; }

  30.7674%, 51.2791% { content: ""; }
  31.9070%, 50.1395% { content: "D"; }
  33.0465%, 49.0000% { content: "De"; }
  34.1860%, 47.8605% { content: "Des"; }
  35.3256%, 46.7209% { content: "Desi"; }
  36.4651%, 45.5814% { content: "Desig"; }
  37.6047%, 44.4419% { content: "Design"; }
  38.7443%, 43.3024% { content: "Designe"; }
  39.8839%, 42.1629% { content: "Designer "; }

  54.6977%, 75.2093% { content: ""; }
  55.8372%, 74.0698% { content: "D"; }
  56.9767%, 72.9302% { content: "De"; }
  58.1163%, 71.7907% { content: "Des"; }
  59.2558%, 70.6512% { content: "Desi"; }
  60.3953%, 69.5116% { content: "Desig"; }
  61.5349%, 68.3721% { content: "Design"; }
  61.5349%, 68.3721% { content: "Designe"; }
  61.5349%, 68.3721% { content: "Designer "; }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 5.5s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 3px solid var(--caret);
    animation: blink .5s linear infinite;
  }
  

.nav-icon i{
    opacity: 0;
}

@media screen and (max-width:768px){
    .home{
        width: 100%;
    }
 
    .home .nav ul .right-nav{
        position: absolute;
        background-color: #333333;
        width: 80%;
        left: 50px;
        top: 100%;
        text-align: center;
        margin: auto;
        z-index: 99999;
        opacity: 0;
        visibility: hidden;
        transition: 0.7s all;
    }
    .home .nav ul .right-nav li{
        float: none;
        padding: 18px;
    }
    .nav-icon i{
        position: absolute;
        font-size: 30px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 1;
    }
    .nav-icon:hover + ul .right-nav{
        opacity: 1;
        visibility: visible;
    }
}

/* END HOME */

 /* =========================================================*/

/*       START    ABOUT    */

.about{
    /* background-color: red; */
}

.container{
    width: 80%;
    margin: auto;
    padding: 70px 0;
}

.about-img{
    width: 35%;
    /* background-color: teal; */
    float: left;
    position: relative;
}

.about-img-border{
    border: 8px solid #555555;
    border-radius: 2%;
}

.img{
    position: relative;
    top: 25px;
    left: 25px;
}

.about-img-border img{
    width: 100%;
    border-radius: 5px;
}

.about-layer{
    border-radius: 5px;
    position: absolute;
    top: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.3s all;
}

.img:hover .about-layer{
    opacity: 1;
    top: 0;
}

.about-layer ul{
    list-style-type: none;
    margin-top: 190px;
    margin-left: 60px;    
}

.about-layer li{
    display: inline-block;
    padding: 7px;
}

.about-layer li a{
    color: white;
}

.about-layer li a:hover{
   color: #F5305B;
}


.about-content{
    float: left;
    width: 53%;
    margin: -45px 0px  0px 100px;
}

.about-content h2{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 34px;
    font-weight: 600;
    position: relative;
    /* background-color: teal; */
    padding-left: 15px;
    color: #333333;
    margin-bottom: 2px;
}

.about-content h2::before{
    content: "";
    width: 0.75%;
    height: 23px;
    background-color: #FF305B;
    position: absolute;
    top: 12.5px;
    left: 0;
}

.about-content p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #555555;
    line-height: 25px;
    padding-bottom: 25px;
    border-bottom: 0.5px dashed #a2a2a2 ;
}

.about-content ul{
    list-style-type: none;
    margin-top: 20px;
}

.about-content li{
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-left: -40px;
    float: left;
    width: 50%;
    padding-bottom: 20px;
}

.email-li a{
    text-decoration: none;
    color: #867E86;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.about-content li span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #333333;
}

.about-anchor{
    margin-top: 15px;
}

.about-anchor a{
    border: 2px solid transparent;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    background-color: #FF305B;
    margin-right: 17px;
    border-radius: 5%;
    transition: all 0.5s;
}

.about-anchor a i{
    padding-left: 10px;
}

.Hire-me,.Download-cv{
    text-decoration: none;
}

.Download-cv:hover {
    background-color: #EC2403;
    text-decoration: none;
}

.Hire-me:hover{
    background-color: #EC2403;
}

@media screen and (max-width:768px){
    .about-img{
        width: 100%;
        margin-left:0;
        margin-bottom: 50px;
    }
    .about-img-border{
        border: none;
    }
    .about-content{
        margin-left: 0;
    }
    .about-content p{
        width: 200%;
    }
    .about-content li{
        width: 150%;
    }
    .about-anchor {
       width: 200%;
    }
    .img{
        left: 0;
    }
}

@media screen and (min-width:769) and (max-width:992px){
    .about-img{
        width: 35%;
        margin-bottom: 50px;
    }
    .about-content{
        width: 40%;
    }
    .about-anchor {
       width: 200%;
    }
}

/*       END    ABOUT    */

/* ===================================================== */

/* START SERVICES SECTION */

.services{
    background-color: #F1F1F1;
    margin: auto;
}

.decl-Services{
    padding-top: 50px;
}

.decl-Services h2{
    /* background-color: burlywood; */
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 800;
    position: relative;
}

.decl-Services h2::before{
    content: "";
    width: 5.5%;
    height: 15px;
    border-top: 1px solid #FF305B;
    border-bottom: 1px solid #FF305B;
    position: absolute;
    top: 100%;
    left: 47.5%;
}

.decl-Services h2::after{
    content: "";
    width: 13%;
    height: 20px;
    position: absolute;
    border-bottom: 1px solid #FF305B;
    top: 80%;
    left: 44%
}

.services-sections {
   width: 25%;
   float: left;
   background-color: transparent;
   text-align: center;
   margin-bottom: 55px;
   padding: 30px 20px 20px 20px;
   box-sizing: border-box;
   transition: all 0.5s;
}

.services-sections i{
    margin-bottom: 20px;
    font-size: 50px;
    transition: all 0.5s;
}

.about-services{
    width: 90%;
    margin: auto;
}
.services-sections h3{
    font-size: 24px;
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 600;
    color:#333333;
    line-height: 5px;
}

.services-sections p{
    color: #555555;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
}

.UI-DESIGN:hover ,.APP-DEVELOPMENT:hover,.PRODUCT-DESIGN:hover,.UX-DESIGN:hover {
    background-color: white;
}

.UI-DESIGN:hover i,.APP-DEVELOPMENT:hover i,.PRODUCT-DESIGN:hover i,.UX-DESIGN:hover i{
    transform: scale(1.2);

}

@media screen and (max-width:600px){
    .services-sections{
        width: 100%;
    }
}

@media screen and (min-width:601px) and (max-width:768px){
    .services-sections{
        width: 50%;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    .services-sections{
        width: 33.33333%;
    }
}

@media screen and (min-width:993px) and (max-width:1200px){
    .services-sections{
        width: 25%;
    }
}

/* END SERVICES SECTION */

/* ===================================================== */

/* START PORTFOLIO SECTION */

.portfolio{
    /* background-color: tan; */
    margin-bottom: 6%;
}

.portfolio-title{
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 800;
    position: relative;
}

.portfolio-title::before{
    content: "";
    width: 5.5%;
    height: 15px;
    border-top: 1px solid #FF305B;
    border-bottom: 1px solid #FF305B;
    position: absolute;
    top: 100%;
    left: 47.5%;
}

.portfolio-title::after{
    content: "";
    width: 13%;
    height: 20px;
    position: absolute;
    border-bottom: 1px solid #FF305B;
    top: 86%;
    left: 44%
}

.portfolio-btn{
    text-align: center;
    /* background-color: red; */
    margin-top: -2.5%;
}

.portfolio-btn button{
    color: #333333;
    background-color: transparent;
    border: none;
    padding: 0.5% 1%;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.portfolio-btn .first-btn-portf{
    color: #FF305B;
}

.about-portfolio{
    width: 90%;
    margin: auto;
    margin-top: 2%;
    padding-left: 1.2%;
}

.portfolio-imgs{
    width: 30%;
    float: left;
    padding: 1.2%;
}

.content-portfolio{
    position: relative;
}

.portfolio-imgs img{
    width: 100%;
}

.portfolio-layer{
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    transition: 0.4s all;
}

.portfolio-layer i{
    font-size: 35px;
    bottom: 10px;
    right: 10px;
    position: absolute;
}

.content-portfolio:hover .portfolio-layer{
    opacity: 1;
}

@media screen and (max-width:600px)
{
    .portfolio-imgs{
        width: 100%;
    }
}

@media screen and (min-width:601px) and (max-width:768px)
{
    .portfolio-imgs{
        width: 47%;
    }
}
/* END PORTFOLIO SECTION */

/* ===================================================== */

/* START TESTIMONIAL */

.testimonial{
    background-color: #F1F1F1;
}

.content-testimonial{
    width: 80%;
    margin: auto;
}

.about-testimonial{
    width: 25%;
    /* background-color: aqua; */
    text-align: center;
    float: left;
    padding: 8% 0;
}

.about-testimonial i{
    color: #FF305B;
    font-size: 30px;
}

.about-testimonial h3{
    font-size: 26px;
    color: #333333;
    font-weight: 800;
    font-family: 'Source Sans 3', sans-serif;
    line-height: 13px;
}

.about-testimonial h5{
    color: #555555;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
    line-height: 13px;
}

@media screen and (max-width:600px){
    .about-testimonial{
        width: 100%;
    }
}

@media screen and (min-width:601px) and (max-width:768px){
    .about-testimonial{
        width: 50%;
    }
}

@media screen and (min-width:769px) and (max-width:992px){
    .about-testimonial{
        width: 33.3333%;
    }
}

/* START TESTIMONIAL */

/* ====================================================== */

/* START FEEDBACK SECTION */
.feedback{
    margin: 80px 0 150px 0;
    position: relative;
}

.feedback-heading h2{
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 800;
    position: relative;
}

.feedback-heading h2::before{
    content: "";
    width: 5.5%;
    height: 15px;
    border-top: 1px solid #FF305B;
    border-bottom: 1px solid #FF305B;
    position: absolute;
    top: 100%;
    left: 47.5%;
}

.feedback-heading h2::after{
    content: "";
    width: 13%;
    height: 20px;
    position: absolute;
    border-bottom: 1px solid #FF305B;
    top: 80%;
    left: 44%
}

.about-feedback{
    background-color: #F1F1F1;
    width: 60%;
    margin: auto;
    padding: 130px 0;
    position: relative;
    border-radius: 5px;
    margin-top: -3%;
}

.feedback-side{
    border: 100px solid;
    border-color: #FF305B transparent transparent #FF305B;
    position: absolute;
    top: 0;
    border-radius: 5px;
}

.about-feedback img{
    width: 110px;
    border-radius: 50%;
    position: absolute;
    left: 5%;
    top: 16%;
}

.feedback-content{
    background-color: transparent;
    width:78%;
    position: absolute;
    top: 10%;
    left: 25%;
}

.feedback-content h3{
    color: #333333;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 26px;
    font-weight: 600;
    line-height: 2px;
}

.feedback-content h4 a{
    color: #777777;
    font-family: 'Source Serif 4', serif;
    font-size: 15px;
    font-weight: 600;
}

.feedback-content h4 a:hover{
    text-decoration: none;
}

.feedback-content p{
    font-family: 'Roboto', sans-serif;
    color: #2e2e2e;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    margin-top: -8px;
}

.feedback-icons i, .last-icon i{
    color: #F1C30D;
}

.feedback-sh-first{
    width: 27px;
    height: 10px;
    background-color: #FF305B;
    border-radius: 10px;
    position: absolute;
    left: 48.5%;
    bottom: -5%;
}

.feedback-sh-second{
    width: 9px;
    height: 9px;
    background-color: transparent;
    border: 1px solid #FF305B;
    border-radius: 10px;
    position: absolute;
    left: 51%;
    bottom: -5%;
}

@media screen and (max-width:600px){
    .about-feedback{
        width: 90%;
        height: 30%;
    }
    .feedback-content{
        top: 40%;
        left: 5%;
    }
    .about-feedback img{
        left: 160px;
        top: 40px;
    }
    .feedback-sh-first{
        left: 43%
    }
}

/* END FEEDBACK SECTION */

/* ===================================================== */

/* START BLOG */

.blog{
    background-color: #F1F1F1;
}

.blog-heading{
    /* margin-top: 80px; */
    overflow: hidden;
}
.blog-heading h2{
    text-align: center;
    margin-top: 100;
}

.blog-heading h2{
    margin-bottom: 100px;
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 800;
    position: relative;
}

.blog-heading h2::before{
    content: "";
    width: 5.5%;
    height: 15px;
    border-top: 1px solid #FF305B;
    border-bottom: 1px solid #FF305B;
    position: absolute;
    top: 100%;
    left: 47.5%;   
}

.blog-heading h2::after{
    content: "";
    width: 13%;
    height: 20px;
    position: absolute;
    border-bottom: 1px solid #FF305B;
    top: 80%;
    left: 44%
}

.about-blog{
    width: 90%;
    margin: auto;
    margin-top: -50px;
}

.blog-content{
    width: 30%;
    float: left;
    padding: 1.5%;
    margin-bottom: 85px;
}

.blog-content iframe{
    width: 100%;
    height: 200px;
    border: 0;
}

.blog-content img{
    width: 100%;
}

.blog-inner{
    background-color: white;
    margin-top: -20px;
    padding: 25px 20px;
}

.blog-inner p{
    color: #555555;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
}

.blog-inner h3{
    margin-top: -8px;
}

.blog-inner h3 a{
    font-size: 24px;
    font-weight: 600;
    font-family: 'Source Sans 3', sans-serif;
    color: rgb(54, 53, 53);
    text-decoration: none;
    transition: 0.4s all;
}

.blog-inner h3:hover a{
    color: #FF305B;
}

.blog-anchor a{
    text-decoration: none;
    color: #0c0c0c;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    transition: 0.4s all;
}

.blog-anchor:hover a{
    color: #FF305B;
}

@media screen and (max-width:768px){
    .blog-content{
        width: 100%;
    }
}

/* END BLOG */

/* ==================================================== */

/* START CONTACT */
.contact{
    margin-bottom: 100px;
}

.contact-heading h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Source Sans 3', sans-serif;
    color: #333333;
    font-weight: 800;
    position: relative;
    margin: 80px 0 60px 0;
}

.contact-heading h2::before{
    content: "";
    width: 5.5%;
    height: 15px;
    border-top: 1px solid #FF305B;
    border-bottom: 1px solid #FF305B;
    position: absolute;
    top: 100%;
    left: 47.5%;  
}

.contact-heading h2::after{
    content: "";
    width: 13%;
    height: 20px;
    position: absolute;
    border-bottom: 1px solid #FF305B;
    top: 80%;
    left: 44%
}

.about-contact{
    width: 56%;
    margin: auto;
    /* background-color: teal; */
}

.Contact-name,.contact-email{
    width: 50%;
    float: left;
}

.Contact-name{
    padding-right: 30px;
    box-sizing: border-box;

}

.Contact-name input{
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-sizing: border-box;
}

.contact-email input{
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: inset 0 1.5px 1.5px rgba(0,0,0,.075);
}

.subject input{
    width: 100%;
    padding: 10px 0 10px 10px;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: inset 0 1.5px 1.5px rgba(0,0,0,.075);
    margin-top: 30px;
}

.contact-message textarea{
    width: 100%;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    box-shadow: inset 0 1.5px 1.5px rgba(0,0,0,.075);
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
    color: #A399A3;
    font-size: 15px;
    padding: 6px 0 0 6px;
}

.contact-btn input{
    background-color: #FF305B;
    padding: 12px 25px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    border: transparent;
    margin-top: 25px;
    transition: 0.7s all;
}

.contact-btn:hover input{
    background-color: #EC2403;
}

@media screen and (max-width:768px){
   .about-contact{
        width: 85%;
        margin-left:8%;
    }
    .about-contact .Contact-name {
        width: 100%;
        margin-bottom: 20px;
        padding-right: 0;
    }
    .about-contact .contact-email {
        width: 100%;
    } 
}

/* END CONTACT */

/* ======================================================= */

/* START FOOTER SECTION */
.footer{
    background-color: #333333;
    box-sizing: border-box;
}

.footer-content{
    width: 80%;
    margin: auto;
    padding-bottom: 1px;
    padding-top: 5px;
}

.footer-content ul{
    list-style-type: none;
    text-align: center;
    padding-top: 50px;
}

.footer-content li {
    display: inline-block;
    padding-right: 15px;
}

.footer-content li a{
    color: white;
}

.footer .footer-content ul li a:hover{
    color: #FF305B;
}

.footer-content p{
    text-align: center;
    padding-bottom: 50px;
    color: #F2FFFF;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    padding-left: 85px;
}

.footer-content p a{
    color: #FF305B;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.footer-content p a:hover{
    text-decoration: underline;
}

@media screen and (max-width:600px)
{
    .footer-content{
        width: 80%;
    }
    .footer-content p{
        padding-left: 0;
    }
}
/* END FOOTER SECTION */
